/.vscode
/kubejs/probe
/kubejs/README.txt
/kubejs/jsconfig.json
/config
/coremods
/crash-reports
/defaultconfigs
/local
/logs
/modernfix
/resourcepacks
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
icon.png
options.txt
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json